/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
@font-face {
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeueLTStd-Lt.ttf);
}

 html, button, input, select, textarea {
    color: black;
    font-family: 'HelveticaNeue';
    font-family: 100;
}
html, body {
    height: 100%;
    margin: 0;
}
html {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, black), color-stop(1, transparent));
    background-image: -webkit-linear-gradient(right, black 0%, transparent 100%);
    background-image: -webkit-linear-gradient(left, black 0%, transparent 100%);
    background-image: linear-gradient(to right, black 0%, transparent 100%);
}
body {
    position: absolute;
    background-image: url(../img/epiphany2.png), url(../img/crowd.png), -webkit-linear-gradient(left, rgba(0,0,0,0.8), transparent);
    background-image: url(../img/epiphany2.png), url(../img/crowd.png), linear-gradient(to right, rgba(0,0,0,0.8), transparent);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto, cover;
    font-size: 1em;
    line-height: 1.4;
    top: 0; bottom: 0; right: 0; left: 0;
}

.main-quote {
    position: relative;
    text-align: center;
    font-size: 2.3em;
    margin: auto;
    top: 50%;
    line-height: 1.2;
    width: 75%;
    color: white;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.main-quote [class*=line] {
    opacity: 0;
}

.main-quote a {
    text-decoration: none;
    -webkit-transition: all 150ms;
    transition: all 150ms;
}

.main-quote a:hover::after {
    content: '';
    position: relative;
    background-color: red;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}

.newsletter-signup {
    text-align: right;
    position: relative;
    top: 40%;
    color: white;
    font-size: 1.1em;
    -webkit-animation-delay: 1.2s;
}

.newsletter-signup input, .newsletter-signup input:focus, .newsletter-signup input:active {
    position: relative;
    bottom: 15px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    color: black;
    width: 110%;
}

.red {
    color: rgb(230,0,0);
    border-bottom: solid 1px transparent;
}
.red:hover {
    border-color: rgb(230,0,0);
    color: rgba(0,0,0,0.7);
}

.front-page-container {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.off-canvas-wrap.move-right .front-page-container {

}

.inner-wrap {
    height: 100%;
}

.menu-line {
    width: 100%;
    background-color: white;
    margin: 8px 0;
    height: 8px;
}

.left-off-canvas-toggle {
    width: 4em;
    height: 3em;
    position:fixed !important;
    top: 15px;
    left: 10px;
    z-index: 2;
    opacity: 0.8;
}

.left-off-canvas-menu {
    height: 1000%;
    position: fixed;
    -webkit-box-shadow: inset -3px 0 40px black;
    -moz-box-shadow: inset -3px 0 40px black;
    box-shadow: inset -3px 0 40px black;
}

.left-off-canvas-menu ul {
    width: 100%;
    font-size: 0.8em;
    margin-top: 50px;
}

.left-off-canvas-menu li {
    list-style-type: none;
    list-style-image: none;
    position: relative;
    width: 100%;
}

.left-off-canvas-menu a {
    width: 100%;
    height: 3em;
    font-size: 1.5em;
    display: block;
    color: white;
    -webkit-transition: color 150ms;
    -moz-transition: color 150ms;
    -ms-transition: color 150ms;
    -o-transition: color 150ms;
    transition: color 150ms;
}

.left-off-canvas-menu a:hover {
    color: red;
}

*::-webkit-input-placeholder {
    color: rgba(255,255,255,0.6);
}    
*:-moz-placeholder {
    /* FF 4-18 */
    color: rgba(255,255,255,0.6);
}
*::-moz-placeholder {
    /* FF 19+ */
    color: rgba(255,255,255,0.6);
}    
*:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255,255,255,0.6);
}

::selection {
    background-color: black;
    color: red;
}

@media screen and (max-width: 980px) {

    html {
        background-size: auto;
    }
    .main-quote {
        top: 40%;
        font-size: 1.5em;
    }
}