/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
 @font-face {
    font-family:'HelveticaNeue';
    src: url(../fonts/HelveticaNeueLTStd-Lt.ttf);
}
html, button, input, select, textarea {
    color: black;
    font-family:'HelveticaNeue';
    font-family: 100;
}
html, body {
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    min-height: 500px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
html {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(200, 200, 200, 0.8))), color-stop(1, transparent));
    background-image: -webkit-linear-gradient(right, rgba(200, 200, 200, 0.8)) 0%, transparent 100%);
    background-image: -webkit-linear-gradient(left, rgba(200, 200, 200, 0.8)) 0%, transparent 100%);
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0.8)) 0%, transparent 100%);
}
body {
    position: absolute;
    font-size: 1em;
    line-height: 1.4;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: -webkit-gradient(linear, 0 0, 100% 100%, from(rgba(0, 0, 0, 0.5)), to(transparent));
    background: -webkit-linear-gradient(top left, rgba(0, 0, 0, 0.5), transparent);
    background: linear-gradient(top left, rgba(0, 0, 0, 0.5), transparent);
}
.front-page-container:before {
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background: url(../img/crowd.png);
    background-position: 0 8%;
    background-size: cover;
}
.front-page-container:after {
    content:'';
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../img/epiphany2.png);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: right top;
}
.front-page-container {
    opacity: 0;
    top: 100%;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    vertical-align: middle;
    display: table-cell;
    opacity: 1;
    margin-bottom: 0;
}
.front-page-container > :first-child {
    position: relative;
    top: 15%;
}
.footer-container {
    vertical-align: middle;
    position: relative;
    background-color: black;
    text-align: center;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    height: 100%;
    top: 0;
    z-index: 1;
    opacity: 1;
}
.main-quote {
    position: relative;
    text-align: center;
    font-size: 2em;
    margin: auto;
    line-height: 1.2;
    color: white;
}
.main-quote [class*=line], .newsletter-signup {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
}
.main-quote .line-1 {
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}
.main-quote .line-2 {
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
}
.main-quote .line-3 {
    -webkit-transition-delay: 1000ms;
    transition-delay: 1000ms;
}
.main-quote .line-4 {
    -webkit-transition-delay: 1500ms;
    transition-delay: 1500ms;
}
.main-quote a {
    text-decoration: none;
    -webkit-transition: all 150ms;
    transition: all 150ms;
}
.main-quote a:hover::after {
    content:'';
    position: relative;
    background-color: red;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}
.newsletter-signup {
    text-align: right;
    color: white;
    font-size: 1.1em;
    margin-top: 20px !important;
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -ms-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
}
.newsletter-signup > :first-child {
    position: relative;
    bottom: 6px;
}
.newsletter-signup input, .newsletter-signup input:focus, .newsletter-signup input:active {
    position: relative;
    bottom: 15px;
    background-color: transparent;
    border: solid 1px rgba(240, 240, 240, 0.7);
    color: black;
    opacity: 0.9;
    font-size: 0.75em;
    width: 100%;
}
.white {
    color: white;
}
.red {
    color: rgb(230, 20, 20);
    border-bottom: solid 1px transparent;
}
.red:hover {
    border-color: rgb(230, 20, 20);
    color: rgba(0, 0, 0, 0.7);
}
.front-page-container {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.off-canvas-wrap.move-right .front-page-container {
}
.inner-wrap {
    height: 100%;
}
.menu-line {
    width: 100%;
    background-color: white;
    margin: 8px 0;
    height: 8px;
}
.left-off-canvas-toggle {
    width: 3em;
    height: 3em;
    position:fixed !important;
    top: 15px;
    left: 10px;
    z-index: 2;
    opacity: 0.8;
}
.left-off-canvas-menu {
    height: 1000%;
    position: fixed;
    box-shadow: inset -3px 0 40px black;
}
.left-off-canvas-menu ul {
    width: 100%;
    font-size: 0.8em;
    margin-top: 50px;   
}
.left-off-canvas-menu li {
    list-style-type: none;
    list-style-image: none;
    position: relative;
    width: 100%;
}
.left-off-canvas-menu a {
    width: 100%;
    height: 3em;
    font-size: 1.5em;
    display: block;
    color: white;
    -webkit-transition: color 150ms;
    transition: color 150ms;
}
.left-off-canvas-menu a:hover {
    color: red;
}
.show-video-button, .hide-video-button {
    opacity: 0.8;
    width: 150px;
    height: 60px;
    fill: red;
    cursor: pointer;
}
.show-video-button {
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.hide-video-button {
    margin-top: 20px;
    display: none;
}
.logo {
    cursor: pointer;
    max-width: 35%;
    max-height: 220px;
    display: block;
    margin: 20px auto 20px;
}
.copyright-info {
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: rgba(255,255,255,0.5);
    text-align: center;
}
#youtube-video {
    margin: 15px auto 20px auto;
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 250ms linear 500ms;
    transition: all 250ms linear 500ms;
}
.active #youtube-video {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.video-section {
    background-color: rgba(255, 255, 255, 0.1);
}
.video-section iframe {
    margin: auto;
    display: block;
}
.follow-me-on {
    margin-bottom: 2em;
    color: white;
    opacity: 0.6;
}
.social-icons {
    text-align: center;
}
.social-icons svg {
    position: relative;
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    width: 50px;
    height: 50px;
    fill: rgb(230, 20, 20);
    -webkit-transition: all 1s;
    transition: all 250ms;
}
.social-icons svg:hover {
    fill: white;
    -webkit-transform: translateY(-40%) scale(1.1);
    -moz-transform: translateY(-40%) scale(1.1);
    -ms-transform: translateY(-40%) scale(1.1);
    -o-transform: translateY(-40%) scale(1.1);
    transform: translateY(-40%) scale(1.1);
}
.extra-links {
    margin: 10px auto;
    text-align: center;
}
.extra-links a {
    color: rgb(230, 20, 20);
}
.extra-links a:hover {
    text-decoration: underline;
}
.extra-links .divider {
    color: white;
    padding: 0 10px;
}
*::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
}
*::-moz-placeholder {
    /* FF 19+ */
    color: rgb(255, 255, 255);
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(255, 255, 255);
}
::-moz-selection {
    background-color: black;
    color: red;
}
*::selection {
    background-color: black;
    color: red;
}
@media screen and (max-width: 960px) {
    body:before {
        content:'';
        background: none;
    }
    body:after {
        background-size: 150%;
    }
    .newsletter-signup {
        text-align: center;
    }
    .front-page-container:before {
        -webkit-background-size: initial;
        background-size: initial;
    }
    .front-page-container:after {
      -webkit-background-size: cover;
      background-size: cover;  
    }
}
@media screen and (max-width: 800px) {
    .main-quote {
        font-size: 0.8em;
    }
    .newsletter-signup {
        top: auto;
    }
    .newsletter-signup div, .newsletter-signup input {
        text-align: center;
        margin-top: 15px;
    }
    .newsletter-signup input {
        display: block;
        margin: auto;
        width: 80%;
        background-color: rgba(0,0,0,0.2);
        font-aize: 1.5em;
    }
    [class*=video-button] {
        width: 80px;
        height: 20px;
    }
    .logo {
        max-width: 65%;
        max-height: 100px;
        position: relative;
        top: 8%;
        margin-bottom: 25%;
        display: block;
    }
    .follow-me-on {
        margin-bottom: 10%;
    }
    .social-icons svg {
        width: 30px;
        height: 30px;
    }
    #youtube-video {
        width: 100%;
        height: 220px;
    }
    .footer-container {
        font-size: 0.7em;
    }
    .menu-line {
        width: 100%;
        background-color: white;
        margin: 5px 0;
        height: 5px;
    }
    .left-off-canvas-toggle {
        width: 2em;
        height: 2em;
    }
    .front-page-container {
        font-size: 1em;
    }
}
